<div class="container">

  <div class="row">
    <div class="span7">
      <h2><a href="https://twitter.com/sf311">@SF311</a> Information</h2>
    </div>
  </div>

  <div class="row content">
    <div class="span7">
      <h3>Creating an account</h3>
      <p><a href="https://twitter.com/signup">Signing up</a> for Twitter is both easy and free. Twitter is designed to be an open network, but you can keep your information private, if you wish, by using <a href="https://support.twitter.com/articles/14606">Direct Messages</a>.</p>
    </div>

    <div class="span7 offset1">
      <h3>Your Privacy</h3>
      <p>Since this is a city service, the contents of your request will be used within the city as necessary to resolve your request. It may also may be subject to disclosure in accordance with the <a href="http://en.wikipedia.org/wiki/California_Public_Records_Act">California Public Records Act.</a></p>
      <p>If we do have to report publicly, your name, address, and other personal information such as Twitter ID and username will be removed from a service request before we do so.</p>
    </div>
  </div>

  <div class="row content">
    <div class="span7">
      <h3>Frequently Asked Questions</h3>
      <p>If you don't see your question answered here, make sure to check out the San Francisco 311 <a href="#">Frequently Asked Questions page</a>.</p>
    </div>

    <div class="span7 offset1">
      <h3>Messaging</h3>
      <p>Unsure about the differences between public and private messages on Twitter? You should check out Twitter's <a href="https://support.twitter.com/groups/31-twitter-basics/topics/109-tweets-messages/articles/14023-what-are-replies-and-mentions">Help Center page</a>.</p>
    </div>
  </div>

  <div class="row content">
    <div class="span7">
      <h3>Texting</h3>
      <p>If you don't have access to the internet, you can always <a href="https://support.twitter.com/groups/34-apps-sms-and-mobile/topics/123-mobile-basics/articles/14014-twitter-phone-faq">use your mobile phone</a> to text message the <a href="https://twitter.com/SF311">@SF311 Twitter account</a>.</p>
    </div>

    <div class="span7 offset1">
      <a href="https://twitter.com" class="twitter">Twitter</a>
    </div>
  </div>
</div>
