<div class="container">
  <div class="row">
    <div class="span7">
      <div class="row content">

        <div class="span7">
          <h3>Create an account</h3>
          <p>Risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>
        </div>

        <div class="span7">
          <h3>Frequently Asked Questions</h3>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.  Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span7">
          <h3>Texting</h3>
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>
        </div>

      </div>
    </div>

    <div class="span7 offset1">
      <div class="row content">

        <div class="span7">
          <h3>Your Privacy</h3>
          <p>Risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>
        </div>

        <div class="span7">
          <h3>Messaging</h3>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.  Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span7 twitter"></div>
      </div>
    </div>

  </div>
</div>
