{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container">
  <div class="row">

    <div class="span7 info">
      <h1 class="title">Connect with your city. <small>Tweet <a>@SF311</a></small></h1>

      <p><a href="https://twitter.com">Twitter</a> is a popular and free social messaging utility that allows you to send messages (up to 140 characters) via SMS, IM, Twitter's website, and third-party applications.</p>
      <p>By <a href="https://twitter.com/">signing up</a> for Twitter, you can message San Francisco's <a href="https://twitter.com/sf311">@SF311 account</a> (either publicly or privately) to request services or information anytime.</p>

      <a href="https://twitter.com/SF311" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @SF311</a>
    </div>

    <div class="span7 offset1">
      <div class="iphone">

        <!-- App inside phone -->
        <div class="app">
          <div class="twitter-bar"></div>
          <div class="tweets">

            <!-- Tweets... -->
            <blockquote class="twitter-tweet" data-in-reply-to="156608940807958528"><p>@<a href="https://twitter.com/cripsahoy">cripsahoy</a>I've submitted the Service Request for you. Your Service Request number is: 1040119 ^JT</p>&mdash; SF311 (@SF311) <a href="https://twitter.com/SF311/status/156615091884797952" data-datetime="2012-01-10T05:55:22+00:00">January 10, 2012</a></blockquote>
            <blockquote class="twitter-tweet" data-in-reply-to="156052269496942592"><p>@<a href="https://twitter.com/cbcastro">cbcastro</a> We have notified MUNI. Your SR: 1038785 ^ mm</p>&mdash; SF311 (@SF311) <a href="https://twitter.com/SF311/status/156064571185053699" data-datetime="2012-01-08T17:27:47+00:00">January 8, 2012</a></blockquote>
            <blockquote class="twitter-tweet" data-in-reply-to="155538814281060352"><p>@<a href="https://twitter.com/rickcarlton">rickcarlton</a>Your SR# is 1038073 and has been sent to MUNI on your behalf.Thank you. ^TB</p>&mdash; SF311 (@SF311) <a href="https://twitter.com/SF311/status/155542890049835008" data-datetime="2012-01-07T06:54:49+00:00">January 7, 2012</a></blockquote>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
