{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container">
  <div class="row">

    <div class="span8 info">
      <h1 class="title">Connect with your local government.</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac
      venenatis urna. Aliquam aliquam metus quis felis pellentesque dictum.
      Nulla ut feugiat neque. Donec condimentum dapibus risus nec
      suscipit.</p>

      <p>In leo magna, feugiat sit amet pulvinar vel, bibendum a dui. Praesent
      venenatis magna sed lorem convallis vestibulum imperdiet lectus interdum.
      Vivamus lobortis cursus porta.</p>

      <p>Your bones don't break, mine do. That's clear. Your cells react to
      bacteria and viruses differently than mine. You don't get sick, I do.
      That's also clear. But for some reason, you and I react the exact same
      way to water. We swallow it too fast, we choke.</p>
    </div>

    <div class="span8 iphone"></div>
  </div>
</div>
{% endblock %}
